<div class="row">
    <style>        
        .dateline {
            padding: 10px;
            background-color: lightgray;
            font-weight: bold;
            margin-bottom: 10px;
        }
    </style>
    <div class="col-xs-12">

        <h1>Picks: Week {{week}}</h1>
            
        <div class="well well-sm">
            <h3>My Picks</h3>
            <ul class="list-unstyled">
                <li>5: {{pick.pick5TeamId}} <img ng-src="{{pick.pick5Team.logoUrl}}" /></li>
                <li>3: {{pick.pick3TeamId}} <img ng-src="{{pick.pick3Team.logoUrl}}" /></li>
                <li>2: {{pick.pick2TeamId}} <img ng-src="{{pick.pick2Team.logoUrl}}" /></li>
                <li>
                    <button class="btn btn-primary" ng-disabled="pick == pickPristine">Save Changes</button>
                </li>
            </ul>
        </div>

        <div class="debug">
            {{ pick | json }}
        </div>

        <!-- VISITOR - HOME -->
        <div class="row">
            <div class="col-xs-4">
                VISITOR
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
                HOME
            </div>
        </div>

        <div ng-repeat="game in games">

            <!-- Dateline-->
            <div class="row">
                <div class="col-xs-12" ng-show="isDifferent(game.kickoff)">
                    <div class="dateline">{{ game.kickoff | moment:'dddd MMMM Do h:mm a'}}</div>
                </div>
            </div>
            <!-- game info-->
            <div class="row">
                <div class="col-xs-4">
                    <img ng-click="teamClick(game, game.AwayTeam)" class="img-responsive" 
                         ng-src="{{game.AwayTeam.logoUrl}}">
                </div>
                <div class="col-xs-4">
                    <div ng-show="{{ isCutoff(game.kickoff, cutoffTime) }}">CUTOFF!</div>
                </div>
                <div class="col-xs-4">
                    <img ng-click="teamClick(game, game.HomeTeam)" class="img-responsive" ng-src="{{game.HomeTeam.logoUrl}}">
                </div>
            </div>

            <hr />

        </div>
    </div>
</div>